#name {
    font-size: 50px
}

#red-football {
    color: red;
}

#green-football {
    color: green
}

#blue-football {
    color: blue
}

#yellow-football {
    color: yellow
}

#red-basketball {
    color: red;
}

#green-basketball {
    color: green
}

#blue-basketball {
    color: blue
}

#yellow-basketball {
    color: yellow
}


